@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

/*Gradiente da página*/
body{
    background-image: linear-gradient(to right, #F2E6D8, #BF9B7A);
}

/*Cor de fundo; arredondamento da borda de texto; sombra da caixa de texto; Espaço que o texto pode ocupar; espaçinho a mais da caixa; texto centralizado na pagina*/
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #8c5b3ea2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #555934;
    text-align: center;
    text-shadow: 1px 1px 0px #8c5b3ea2;
}

h2{
    color: #8C5B3E;
}

p{
    text-align: justify;
}